# ==============================================================================
# PLANTILLA DE ENTORNO REQUERIDO PARA UPSGLAM 3.0 (Copia esto a un archivo .env)
# ==============================================================================

# Configuración de Base de Datos Reactiva R2DBC (Supabase Pooler)
SPRING_R2DBC_URL=r2dbc:postgresql://tu-pooler-url:5432/postgres?sslMode=require
SPRING_DATABASE_USERNAME=tu_usuario_postgres
SPRING_DATABASE_PASSWORD=tu_contraseña_segura

# Credenciales de acceso multimedia de Supabase Cloud
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu_anon_public_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

# Enlace de comunicación al clúster de hardware paralelo
FLASK_SERVER_URL=http://flaskservice:5000